[submodule "public"]
	path = public
	url = https://github.com/adventurex/adventurex.github.io.git
	branch = master
[submodule "themes/hugo-agency-theme"]
	path = themes/hugo-agency-theme
	url = https://github.com/digitalcraftsman/hugo-agency-theme.git
